.layout {
  display: flex;
  height: 100vh;
}

.leftPane {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightPane {
  width: 50%;
  padding: 20px;
}
